*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdfdfd;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80%;
  top: -80%;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(222, 222, 222, 0.7);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #8a8a8a;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: rgb(66, 133, 244);
  color: #fff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
button:hover {
  background-color: rgb(111, 162, 245);
}

.social {
  margin-top: 30px;
  display: flex;
}

.social .g {
  color: rgb(66, 133, 244);
  font-size: 20px;
}
.social .o {
  color: rgb(234, 67, 53);
  font-size: 20px;
}
.social .o2 {
  color: rgb(251, 188, 5);
  font-size: 20px;
}
.social .g {
  color: rgb(66, 133, 244);
  font-size: 20px;
}
.social .l {
  color: rgb(52, 168, 83);
  font-size: 20px;
}
.social .e {
  color: rgb(234, 67, 53);
  font-size: 20px;
}

.back-next a {
  text-decoration: none;
  color: rgb(66, 133, 244);
}
.back-next {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 5px 5px;
}